# Claves de API de League of Legends & Groq
# También se pueden configurar e ingresar directamente desde el panel de Configuración de la App.

VITE_RIOT_API_KEY=RGAPI-xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
VITE_GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
